audio, canvas, img, video {
    vertical-align: middle;
  }

  html, button, input, select, textarea {
    color: #222;
  }

  body{}

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;

  }

  img{
    max-width: 100%;
  }

    ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  .clearfix:before, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
  }

  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }

  .invisible {
    visibility: hidden;
  }

/* start body here*/

  html{
    box-sizing: border-box;
  }

  #bg {
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: repeat-y;
  /* Preserve aspet ratio */
  min-width: 100%;
  max-height: 50%;
  /*fix this heree*/

}

  .logo{
    top: -3%;

  }

  .rollingpin{
    position:absolute;
    z-index: 1;
    margin-top: 55%;
    margin-left: 20%;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
  }


  .address{
    font-family: 'Special Elite', cursive;
    font-size: 12px;
    color: #eee;
    margin-top: -15%;
    margin-left: 20%;
  }

  .order{
    font-family: 'Special Elite', cursive;
    position:relative;
    z-index: 1;
    font-size: 36px;
    margin-top: -35%;
    margin-left: 3%;

  }

  /*bubbles need to fix*/
  .section-icon{
  font-size: 60px;
  text-align: center;
  color: #000000;
  background-color: #eee ;
  opacity: 0.6;
    filter: alpha(opacity=30); /* For IE8 and earlier */
  border: 10px solid #000000;
  border-radius: 50%;
  max-width: 60px;
  height: 60px;
  padding: 20px 30px;
  margin: 0 auto;
  line-height: 60px;
  transition: all 0.2s linear;
}

.cutlery{
  margin-top: 35%;
  margin-left: 36%;
  max-width: 4%;
}

.menu-words{
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  position: absolute;
  top: 710px;
  left: 230px;
  text-transform: uppercase;
  transition: all 0.2 s linear;
}

.map-mapper{
  position: absolute;
  top: 600px;
  left:440px;
  padding-left: 15px 30px;
  max-width: 7%;
}

.map-words{
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  position: absolute;
  top: 710px;
  left: 445px;
  padding-left: 50px 50px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.oldphone{
  position: absolute;
  top: 600px;
  left: 680px;
  color: #96281B;
  max-width: 4%;
}

.oldphone-words{
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  position: absolute;
  top: 710px;
  left: 690px;
  padding-left: 50px 50px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.us{
  position: absolute;
  top: 600px;
  left: 925px;
  color: #96281B;
  max-width: 4%;
}

.us-words{
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  position: absolute;
  top: 710px;
  left: 980px;
  padding-left: 50px 50px;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
/*end of bubbles*/


  .nav-list a:link,
  .nav-list a:visited {
    color: #eee;
    text-decoration: none;
  }

  .nav-list a:hover,
  .nav-list a:active,
  .nav-list a:focus{
    opacity: .2;
  }

  .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}




  /* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }
